.header-color{
    position: fixed;
    /* background: #232526;  */
    /* background: -webkit-linear-gradient(to right, #414345, #232526);   */
    background: linear-gradient(90deg, rgba(23,22,22,1) 0%, rgba(66,70,70,1) 13%, rgba(129,145,148,1) 95%);

}

.landing-grid{
    /* background: #e1f1ed;   */
    /* background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  */
    background: linear-gradient(rgba(87, 86, 86, 0.6), rgba(90, 84, 84, 0.6)), url(/photo-1.jpg);
    position: relative; 
    /* top: 0; */
    /* top: 3rem; */
    text-align: center;
    left: 0;
    width: 100%;
    height: 100%;
}

.resume-right-col{
    background-color: #242221;
    color: white;
    padding: 2em
}

.profile-picture{
    height: 250px;
    margin-top: 5rem;
    border-radius: 50%;
}

.contact-picture{
    border-radius: 10%;
    height: 250px;
}

.banner-text{
    background-color: rgba(54, 53, 53, 0.733);
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
}

.banner-text h1{
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p{
    color: white;
    font-size: 20px;
    padding: 1em;
    line-height: 200%;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto

}

.card-button a{
    color: black;
    text-decoration: none;
}

.category-tabs{
    margin-top: 2.5rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em; 
}

.project-section{
    display: flex;
}

.contact-body{
    margin: auto;
    top: 2.5rem;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em; 
}

.resume-whole{
    margin-top: 2.5rem;
}

.contact-grid{
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    margin-bottom: 20px;
}

.contact-left h2{
    font-family: 'Anton', sans-serif;
    background-color: red;
}

.contact-grid p{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-grid hr{
    border-top: 5px dotted red;
    width: 50%;
    margin: auto
}

.contact-list{
    text-align: center;
    justify-content: center;
    margin-left: 60px;
}

.contact-list i{
    font-size: 66px;
    padding-right: 2rem;
    padding-bottom: 15px;
}

.contact-way{
    display: flex;
    flex-direction: column;
}

.first-contact{
    font-size: 20px;
    margin-left: 33%;
    font-family: 'Anton'
}

.second-contact{
    font-size: 20px;
    font-family: 'Anton';
    margin-left: 25%;
}

.third-contact{
    font-size: 15px;
    font-family: 'Anton';
    margin-left: 14%;
}

.core-course{
    text-align: center;
}

.course-description{
    display: flex;
}

.left-course{
    flex: 0 0 45%;
}

@media screen and (max-width: 500px){
    .landing-grid{
        background: linear-gradient(rgba(63, 62, 62, 0.6), rgb(0,0,0,0.6)), url(/photo-1.jpg);
        position: relative; 
        /* top: 0; */
        text-align: center;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .project-section{
        display: flex;
        flex-direction: column;
    }
    
    .profile-picture{
        height: 150px;
        margin-top: 40px;
        padding-top: 5en;
        border-radius: 50%;
    }

    .banner-text h1{
        font-size: 40px;
        font-weight: bold;
        color: white;
    }

    .banner-text hr{
        border-top: 5px dotted white;
        width: 60%;
        margin: auto;
    }

    .contact-way{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .first-contact{
        font-size: 20px;
        margin-left: 10%;
        font-family: 'Anton'
    }
    
    .second-contact{
        font-size: 15px;
        font-family: 'Anton';
        margin-left: 9%;
    }
    
    .third-contact{
        font-size: 15px;
        font-family: 'Anton';
        margin-left: 0;
    }

    .third-contact h9{
        font-size: 10px;
    }

    /* .contact-list{
        justify-content: center;
        text-align: center;
    }

    .list-1{
        margin-left: 28px;
        padding-bottom: 0;
    }

    .list-1 h7{
        font-size: 12px;
    }

    .list-2{
        margin-left: 5px;
    }

    .list-2 h8{
        font-size: 12px;
        margin-left: 0;
    }

    .list-3{
        margin-left: -30px;
        padding-bottom: 0;
    }

    .list-3 h9{
        font-size: 10px;
        margin-left: 0;
    } */
}